/* 
Colors Palette - Hex Values
Ghost White: #E8E9F3
Light green: #B0FF92
bittersweet: #F87060
dark Green: #042A2B
Cordovan: #873D48
Space Cadet: #171738
 */

/* Global Styles*/
body {
  color: #171738;
  margin: 0;
}

img {
  width: 300px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin: 0;
}

.content-wrap {
  /* This Makes the words stay in the middle of the page */
  width: 750px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Profile */
header {
  background-color: #b0ff92;
}

/* Projects */
.projects {
  background-color: #873d48;
}

/* Work Experience */
.work-experience {
  background-color: #f87060;
}

/* Education */
.education {
  background-color: #e8e9f3;
}

/* Contact Info */
footer {
  background-color: #b0ff92;
}

footer a {
  background-color: #e8e9f3;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

footer a:hover {
  background: rgba(232, 233, 243, 60%);
}
